{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog login</title>
    <link rel="stylesheet" href="{% static 'web_blog/main.css' %}">
    <link rel="stylesheet" href="{% static 'web_blog/login.css' %}">
</head>
<body>
    {% include "web_blog/navbar.html" %}
    <main class="main">
        <div class="container">
            <form method="POST" class="form">
                {% csrf_token %}
                <h2 class="form__heading">Log In</h2>
                {% for field in form %}
                    <div class="form__group">
                        <label for="{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="form__button">Log In</button>
            </form>
        </div>
    </main>
    {% include "web_blog/footer.html" %}    
</body>
</html>