<style>
    .header {
        background: #222;
        color: white;
        padding: 20px;
        text-align: center;
        position: relative;
    }

    .header__heading {
        margin: 0;
        font-size: 28px;
        letter-spacing: 1px;
    }

    .new__post {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        text-decoration: none;
        color: #fff;
        display: none
    }
</style>
<header class="header">
    <h1 class="header__heading">My Blog</h1>
    {% if user.is_authenticated and user.is_staff %}
    <a class="new__post" href="{% url 'new_post' %}">+</a>
    {% endif %}

    <!-- To refactor -->
    <script>
        const url = window.location.pathname;
        console.log(url);
        if (url !== '/posts/new/') {
            document.querySelector('.new__post').style.display = 'block';
        }
    </script>
</header>