<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'web_blog/posts.css' %}">
</head>
<body>
    {% include 'web_blog/header.html' %}
    <main class="main">
        {% if posts %}
        <div class="container">
            {% for post in posts %}
                <div class="post">
                    <h2 class="post__title">{{ post.title }}</h2>
                    <p class="post__meta">Posted on: {{ post.created_at.date }}</p>
                    <p class="post__content">{{ post.content|truncatechars:250 }}</p>
                    <a href="{% url 'post_details' post.id %}" class="post__read__more">Read more</a>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No posts published yet :/</p>
        {% endif %}
    </main>
    {% include 'web_blog/footer.html' %}
</body>
</html>